*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1d4683;
	font-family: 'Fira Sans Condensed', sans-serif;
}

div#root {
	
	h1 {
		position: fixed;
		left: 50%;
		top: 50%;
		color: rgb(255, 198, 93);
		font-weight: 900;
		font-size: 56px;
		transform-origin: 0 0;
		transform:  rotate(0deg) translate(-50%, -50%);
	}
}

div#root.clicked h1 {
	animation: 5s myRotate linear infinite alternate;
}

p {
	position: fixed;
	left: 50%;
	top: 50%;
	color: rgb(88, 247, 95);
	font-weight: 100;
	font-size: 48px;
	transform-origin: 0 0;
	transform:  rotate(0deg) translate(-50%, -50%);
}

div#root.clicked p {
	animation: 5s myRotate linear infinite alternate-reverse;
}

@keyframes myRotate {
	0% {
		transform: rotate(0deg) translate(-50%, -50%);
	}

	100% {
		transform: rotate(360deg) translate(-50%, -50%);
	}
}